ion-content {
    background-color:#e5e6e8 !important;//加入import强制覆盖
    //全局定义底色为灰色
}
.marginButton{
  margin-bottom:10px !important;
}

.marginTop{
  margin-top:10px !important;
}
.paddingTop{
  padding-top:10px !important;
}